@CHARSET "ISO-8859-1";


div#branding
{
	width:980px;
}
div#Header
{
	text-transform: uppercase;
	text-align: center;
	width:980px;
	heigth:10px;
	
}
#locatorForm{
	width:980px;
	height:700px;
	display:block;
}

div#formTop{
	width:980px;
	margin-bottom:10px;
	border-bottom:thin;
	border-bottom-style:dotted;
}
	
div#inputDiv{
	margin-bottom:20px;
}
#inputLocMsg{
	margin-bottom:10px;
}
#inputLoc{
	marginbottm:20px;
}
#inputLocation{
	width:500px;
}
select#selectDistPref{
	font-family: Arial, Helvetica, sans-serif;
	 font-weight: normal; 
	 font-size: 10px;
	 width:360px;
}
#messageSep{
	margin-bottom:20px;
	text-align: enter
}
#selectColleges{
	margin-bottom:20px;
}
div#locateButton{
	margin-bottom:20px;
	
}
#resultText{
	
	margin-bottom:20px;
}
#resultBox{
	border: thin;
	border-style: solid;
	border-color: gray;
	text-align: justify;
	overflow: auto;
	width:350px;
	height:300px;
	float:left;
	
}
.collName{
	font-size: 15px;
	font-weight:bold;
	border-bottom:thin;
	border-bottom-style: inset;
	border-bottom-color:black;
	border-top:thin;
	border-top-style: inset;
	border-top-color:black;
	text-align:center;
	text-transform:uppercase;
	
	
}
.collContact{
	
}
div.collResultWrapper{
	padding-bottom:10px;
}
.collResult{
	font-size: 13px;
}
